/* FONTS */
h1 {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

h2 {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-family: "Lucida Console", Courier, monospace;
}


/*SWEDEN ---------*/
.sweden {
    /* border: 1px solid black; */
    display: grid;
    width: 480px;
    height: 300px;
    grid-template: 4fr 2fr 4fr/5fr 2fr 9fr;
}

/* DENMARK ------- */
.denmark {
    /* border: 1px solid black; */
    display: grid;
    width: 480px;
    height: 300px;
    grid-template: 6fr 2.5fr 6fr/6fr 2fr 9fr;
}

/* FINLAND ------- */
.finland {
    border: 1px solid black;
    display: grid;
    width: 480px;
    height: 300px;
    grid-template: 5fr 3fr 5fr/5fr 3fr 10fr;
}

/* ICELAND ------- */
.iceland {
    /* border: 1px solid black; */
    display: grid;
    width: 480px;
    height: 300px;
    grid-template: 7fr 1fr 2fr 1fr 7fr/7fr 1fr 2fr 1fr 14fr;
}

/* CUSTOM ------- */
.custom {
    border: 1px solid black;
    display: grid;
    width: 480px;
    height: 300px;
    grid-template: 2fr 6fr 2fr 1fr 2fr 6fr 2fr/1fr 5fr 1fr 1fr 1fr 5fr 1fr
}

.item {
    border: 1px solid black;
}


/* ------ COLORS --------- */

/* made up flag */
.green {
    background-color: #0f5e19;
}

.blue {
    background-color: #1d476e;
}

.purple {
    background-color: #4f206e;
}

.red {
    background-color: #8a1818;
}

.white {
    background-color: #ffffff;
}

/* ------ */


/* sweden */
.sweBlue {
    background-color: #004B87;
}

.sweYellow {
    background-color: #FFCD00;
}

/* denmark */
.denRed {
    background-color: #C60C30;
}

/* finland */
.finBlue {
    background-color: #002F6C;
}

/* Iceland */
.iceRed {
    background-color: #DC1E35;
}

.iceBlue {
    background-color: #02529C;
}